body {
    background-color: lightgray; 
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
    font-weight: bold;
}

header {
    background-color:rgba(13, 155, 108, 0.541); 
    color:black; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -10px; 
    padding: 10px;
    font-size: 40;
    font-weight: bold;
}

footer {background-color: aquamarine; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    margin:0px;
     padding: 0px; 
     font-size: 30; 
     font-style: italic;  
     text-align: right;
     font-weight: bold;
     
}

a:visited {
    color:brown
    
}

a:hover {
    color:rgb(38, 194, 17);
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    transition: 2s ease-in-out;
 
    
a:hover hr {
    transition: width 0.5s
}
}

header:hover {
    color:rgb(245, 33, 5);
    text-shadow: 2px 2px 4px rgb(153, 8, 8);
    transition: 0.2ms, 0.5s;
    font-size: large;
}

footer:hover {
    color:rgb(245, 33, 5);
    text-shadow: 2px 2px 4px rgb(148, 29, 29);
    transition: 0.2ms, 0.5s;
    font-size: large;
    margin-top: 100%;
    margin-bottom: 0px;
}

a:active {
    color:pink;
    background-color: green;
}

main {
    margin: 10px 20px;
}